body{
    background-color: #CCCCCC;
    margin: 0;
    padding: 0;

}

ul {
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    font-size: 24px;
    line-height: 40px;
    padding: 20px;
    display: inline-block;
    color: #fff;
}

a {
    text-decoration: none;
    color: white;
}

footer {
    background-color: #444; 
    text-align: center;
    color: #fff;
    padding: 10px;
}

h1 {
    font-size: 28px;
}

.pClass {
    font-size: 24px;
}

section {
    margin-left: 20px;
}



