.commentTitle {
   color:  #5c6e91;
}

article {
    width: 700px;
    background-color: #f2f4c0;
    border: 1px solid #b2ad7d;
    padding: 5px 15px;
    margin: 15px 10px;
}

body {
    background-color: #e4e978;
}

.paragraph {
    color: #4c7658;
}
