h1 {
    font-size: 42px;
    color: red;
}

#secondary {
    background-color: black;
    color: white;
}

.text {
    font-size: 21px;
}

.text.mainParagraph {
    color: green;
}

.item .nestedList li{
    color: red;
}

.item {
    color: green;
}
